<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">home</a>
        <a class="page-link" href="{{ site.baseurl }}/information/">information</a>
        <a class="page-link" href="https://www.agu.org/Plan-for-a-Meeting/AGUMeetings/Meetings-Resources/Meetings-code-of-conduct">conduct</a>
        <a class="page-link" href="mailto:sstall@agu.org, cerdmann@agu.org, caroline.m.coward@jpl.nasa.gov, daagarwal@lbl.gov">contact</a>
      </div>
    </nav>

  </div>

</header>
